$JM-orange: #fba100 !default

$tabs-link-color: $JM-orange !default

.tabs
  li
    &.is-active
        a
          color: $JM-orange

a
  color: $JM-orange

a
  .navbar-link
      &:hover
        color: $JM-orange

  .navbar-item
      &:hover
        color: $JM-orange
