*{box-sizing: border-box;}

.slideshow_container{
	max-width: 95%;
    position:relative;
	margin:auto;
}
.slide{
	display: none;
	width:100%;
	height:500px;
	background:#DCD1CB;
    border-radius: 15px;
}
.slide_content{
    position:relative;
    max-width: 100%;
	max-height: 100%;
}

#image1{
    width:50%;
    height:100%;
    float:left;
}
#image2{
    width:50%;
    height:100%;
    float:left;
}
#image3{
    width:50%;
    height:100%;
    float:left;
}
#image4{
    width:50%;
    height:100%;
    float:left;
}
#image5{
    width:80%;
    margin-top:10%;
    margin-left:5%;
}

#right_content_slide1{
    width: 48%;
    float: left;
    margin-top:2%;
    margin-right:1%;
}

#left_content_slide1{
    width: 48%;
    float: left;
}

#right_content_slide2{
    width: 58%;
    float: left;
    margin-left:2%;

}
#left_content_slide2{
    width: 40%;
    float: left;
}

#content_slide3{
  margin:2%;
}

p{
    text-align:justify;
    font-family : 'Poiret One', cursive;
    font-size : 1em;
}
h3{
    text-align:center;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
}

.next,.prev{
	cursor: pointer;
    position:absolute;
	top:50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
}

.next{
	right: 0;
  	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numberOnSlide{
	color: #f2f2f2;
  	font-size: 12px;
  	padding: 8px 12px;
 	 position: absolute;
  	top: 0;
}
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dot_container{
    text-align:center;
}
@media screen and (min-width: 1400px)
{
#left_content_slide1{
    width: 60%;
    float: left;
}
#right_content_slide1{
    width: 33%;
    float: left;
    margin-top:2%;
    margin-right:1%;
}
#left_content_slide2 {
    width: 30%;
    float: left;
}

}