.profile-picture {
    text-align: center;
    margin: 0 auto;
}

.user-details {
    padding-top: 0px;
}

.select-form {
    margin: 0 auto;
    text-align: center;
}

#user-selected {
    background: linear-gradient(to top, rgba(255, 255, 0, 0.1), white);
    border: solid 2px yellow;
}

.applicant-card {
    height: 400px;
    overflow: auto;
    text-align: center;
}

/*.jobDetail {
    display: block;
    background-color: #DCD1CB;
    border-radius: 40px;
    height: 450px;
    width: 96%;
    position: absolute;
    left: 8px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    z-index: -1;
    padding:30px;
}

.jobTitle {
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.7em;
}


.selected {
    display: inline;

#edit_job_button {
    height:100%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}

#delete_job_button {
    height:100%;
    width:10%px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1em;
    background-color: #fba100;
    border-radius: 15%;
    color : white;
    border: none;
}*/