.jobs-button{
    background-color: #fba100;
    border-radius: 30%;
    color : white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 10px 10px 10px 10px;
}

#job-add {
    display: hidden;
}

#job-edit {
    display: hidden;
}