#navigation-list {
/*
display: flex;
    align-items: center;*/
    z-index:100;
    min-width:1300px;
    margin: 0 auto;
    background : linear-gradient(to bottom right, #514b68, #b6a19e);
}

#navbar-items {
    width: 1300px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
}


/* The Overlay (background)*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    text-align: center;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(50, 50, 50, 0.4); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 7%; /* 25% from the top */
    width: 30%; /* 50% width */
    text-align: center; /* Centered text/links */
    margin: 0 auto;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

}

/* The navigation links inside the overlay */
.overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 26px;
    color: rgb(81, 75, 104);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 70px;
}

.overlay input{
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.overlay select{
    margin: 0 auto;
}

.overlay input[type=submit] {
    width: 150px;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
    background-color: #fba100;
    border-radius: 10%;
    color : white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}


#inputbutton {
    height:150px;
    width:150px;
}

.error {
    color: red;
}

.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: 5s;
}

#social-auths {
    margin-top: 50px;
    margin-left: 25%;
    font-family : 'Poiret One', cursive;
    font-weight : bold;
    font-size : 1.3em;
}

#social-auths img {
    margin-top: 20px;
    margin-left: 42px;
}

#social-auths strong {
    color: white;
}

#social-auths a {
    display: inline;
}