.seeker-card {
    height: 350px;
    margin-bottom: 30px;
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
}

.card-content-title {
    text-align: center;
    margin: 0 auto;
    height: 80px;
    padding-top: 0px;
}

.card-content-box {
    padding-top: 0px;
    height: 140px;
    overflow: auto;
}