#content-wrapper {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 80px;
}

#notification-bar {
    position: fixed;
    bottom: 50px;
    width: content-max;
    right: 50px;
}

#notification-context {
    cursor: pointer;
}