<!-- Meta stuff, javascript, css etc -->
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/edit.css' %}"/>

{% load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/edit.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/flash-service.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/menu.js' %}"></script>

<title>Profile</title>

<!-- Content goes down here -->
<div class = "form_container">
    <div class = "form">
        <div class = "form_content">
            <form action="/upload_pic" method="POST" enctype="multipart/form-data" class="profile-picture-form">
                {% csrf_token %}
                <p>
                    <p style="margin-left: 0%;">Your current profile picture:</p>
                    {% if has_picture %}
                        <img id="profile-picture" src="/static/profile_pictures/{{user.username}}/profile.jpg">
                    {% else %}
                        <img id="profile-picture" src="/static/profile_pictures/no-profile.jpg">
                    {% endif %}
                    <br><br>
                    <label for="image-input" id="upload-label">
                        Choose a picture...
                    </label>
                    <input id="image-input" type="file" name="image"><br><br>
                    <label id="file-selected">
                        No file chosen
                    </label>
                </p>
                <input type="submit" id="upload-picture" value="Submit"/>
            </form>

            <form id="edit_form" action="/account/edit" method="POST">
                {% csrf_token %}
                <br>
                <b>First Name:</b> {{ form.first_name }}<br>
                <div id='edit-firstname-error' class='flash-container'></div>
                <br>
                <b>Last Name:</b> {{ form.last_name }}<br>
                <div id='edit-lastname-error' class='flash-container'></div>
                <br>
                <b>Email:</b> {{ form.email }}<br>
                <div id='edit-email-error' class='flash-container'></div>
                <br>
                <b>Location: </b> {{ interests_form.location }}<br>
                <br><br>
                <b>New password (optional):</b> {{ form.new_password }}<br>
                <div id='edit-pass-error' class='flash-container'></div>
                <br>
                <b>Confirm new password:</b> {{ form.new_password_confirm }}<br>
                <div id='edit-pass-confirm-error' class='flash-container'></div>
                <br>
                <b>Your current password:</b> {{ form.old_password }}<br>
                <div id='edit-confirm-error' class='flash-container'></div>
            </form><br>

            <input class="inputbutton" type="submit" value="Save changes" id="edit_button">
            <br>

            <a style="display:none" id="location_hidden">{{location_id}}</a>


            <br>
            <div >
                <a id="is_searching" style="display: none;">{{profile.is_searching}}</a>
                <form id="jobs-general">
                    {% csrf_token %}
                    <label class="checkbox-label">Interested in jobs</label>
                    <input class="checkbox-input" id="interested-checkbox" type="checkbox" name="interest"> <br>
                    <span class="checkmark"></span>
                </form>
            </div>
            <br>
            <div >
                <a id="is_offering" style="display: none;">{{profile.is_offering}}</a>
                <form id="aplicants-general">
                    {% csrf_token %}
                    <label class="checkbox-label">Interested in applicants</label>
                    <input class="checkbox-input" id="aplicants-checkbox" type="checkbox" name="interest"> <br>
                    <span class="checkmark"></span>

                </form>
            </div>
            <form id="edit_interest_form" action="/account/edit/addinterest" method="POST">
                {% csrf_token %}
                <br>
                <b>Interests:</b> {{ interests_form.interests }}<br><br>
                <b>Voluntary:</b> <input class="checkbox-input" id="pay-interest" type="checkbox" name="interest"> <span class="checkmark"></span> <br><br>
                <div id='edit-interests-error' class='flash-container'></div>
            </form>
            <input class="inputbutton" type="submit" value="Add interest" id="edit_interest_button">
            {% for interest in profile.interests.all %}
                 <form action="/account/edit/deleteinterest" method="POST">
                {% csrf_token %}
                     <input class="hidden_input" type="hidden" name="interest" value="{{interest.id}}">
                     <p>
                         {{interest.name}}
                     </p>
                     <input class="deletebutton" type="submit" value="Delete interest" id="delete_interest_button">


            </form>

            {% endfor %}
        </div>
    </div>
</div>
    