<!-- Meta stuff, javascript, css etc -->

<title>Home</title>
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/home.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/home.js' %}"></script>
    <div class="slideshow_container">
        <div class="slide">
            <div class="numberOnSlide">1/3</div>
            <div class="slide_content">
                <div id="right_content_slide1">
                    <img id="image1"  src="{% static 'style/img/home1.jpg' %}" >
                    <img id="image2" src="{% static 'style/img/home2.jpg' %}" >
                    <img id="image3" src="{% static 'style/img/home3.jpg' %}" >
                    <img id="image4" src="{% static 'style/img/home4.jpg' %}" >
                </div>
                <div id="left_content_slide1">
                    <h3>Welcome to Job Mania!</h3>
                    <p>
                        Job Mania is an online platform which gives you a lot of opportunities in terms of job offers both for employers and employees.<br>
                        If you are looking for quick way to find a job in your city you are at one step of making your dream come true. We have all the job opportunities
                        that you can wish for, for every category of interests and skills, for every financial needs, for any schedule that suits your preferences
                        and for every type of persons, regarding of their age, background or knowledge. By registering on our site you will have the possibility to
                        quickly find all the job offers located in your city that would suit your skills, everyday schedule and your financial needs.<br>

                        Moreover, if you are in need of a service and you cannot find a suitable employee for the job that you are offering, Job Mania gives you the
                        possibility to post your job on our platform and to start searching for the perfect employee.<br>

                        By registering on Job Mania you will have the possibility to fully experience all the possibilities that our platform offers both to the ones that are looking
                        for a job and to the ones that are in need of an employee willing to offer his services. We guarantee the you will not be disappointed, so take the
                        chance, register now and enjoy your time!
                    </p>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="numberOnSlide">2/3</div>
             <div class="slide_content">
                 <div id="right_content_slide2">
                     <h3>Find a perfect job</h3><br>
                    <p>
                        Our users that are trying to quickly find a job have the possibility to see all the job offers posted on our platform and to apply to the ones that
                        are suitable for them in terms of their interest and skills. <br><br>
                        We can guarantee that any user on our platform can find one or more jobs that will be satisfactory since he can find both job offers situated
                        in his city and job offers that are included in a certain category of services and that are looking for specific skills or knowledge. The skills or
                        knowledge necessary for fulfilling the requirements of a job can be extremely varied and in the majority of cases are established by the employer. <br><br>
                        Moreover, our users can find jobs that are suitable for their everyday schedule and that are paid according to their needs. <br><br>
                        That being said, if you are looking for a quick way to find a job that suit you the most do not forget to check out our job offers!
                    </p>

                     <div class="has-text-centered">
                         <a class="button is-warning is-rounded is-medium" href="/jobs">
                            Find a job!
                         </a>
                     </div>

                 </div>
                 <div id="left_content_slide2">
                    <img id="image5" src="{% static 'style/img/home5.jpg' %}">
                 </div>
            </div>

        </div>

        <div class="slide">
            <div class="numberOnSlide">3/3</div>
             <div class="slide_content">
                 <div id="content_slide3">
                    <h3>Find your perfect employee</h3><br><br>
                    <p>
                        If our users are in need of an employee with specific skills or knowledge, they have the possibility to post job offers specifying all the requirements
                        that need to be fulfilled in order to satisfy their needs. <br><br>
                        As an employer, you can select the most suitable person that applied for your job, based on the ratings and on the history of the potential employees. Also,
                        the employers have the possibility to evaluate their employees by offering them ratings and evaluations. <br><br>
                        With all the functionalities that our platform offers it is guaranteed that the process of finding an employee will become very simple, quick and efficient.<br><br>
                        So, that being said, do not forget to check out our list of persons that are offering services and maybe you will find the perfect employee!
                    </p><br><br>

                     <div class="has-text-centered">
                         <a class="button is-warning is-rounded is-medium " href="/seekers">
                            Find an employee!
                         </a>
                     </div>
                 </div>
            </div>
        </div>

        <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a>
        <br>
        <div class="dot_container">
          <span id="slide1" class="dot" ></span>
          <span id="slide2" class="dot" ></span>
          <span id="slide3" class="dot" ></span>
        </div>
    </div>



