<title>Job Detail</title>
{% load mathfilters %}
{% load list_utils %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/job.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/job.js' %}"></script>
    <div class="modal" id="job-edit">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="job-edit-title">Share a job</p>
                <button class="delete" id="job-edit-x" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class = "form_container">
                    <div class = "form">
                        <div class = "form_content">
                            <form id='edit_form'>
                                {% csrf_token %}
                                <input type="hidden" id="job-edit-id" value="">
                                <div class="field">
                                    <label class="label">Title*</label>
                                    <div class="control">
                                        {{ edit_form.edit_title }}
                                    </div>
                                    <div id="edit-title-error" class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Description*</label>
                                    <div class="control">
                                        {{ edit_form.edit_description }}
                                    </div>
                                    <div id='edit-description-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Category*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_category }}
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-briefcase"></i>
                                        </span>
                                    </div>
                                    <div id='edit-category-error' class='help flash-container'></div>
                                </div>


                                <div class="field">
                                    <label class="label">Start date*</label>
                                    <div class="control">
                                        {{ edit_form.edit_start_date }}
                                    </div>
                                    <div id="edit-start-error" class='help flash-container'></div>
                                </div>

                                 <div class="field">
                                    <label class="label">End date*</label>
                                    <div class="control">
                                        {{ edit_form.edit_end_date }}
                                    </div>
                                    <div id="edit-end-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Hours*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ edit_form.edit_number_of_hours }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_per_time }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id="edit-number_of_hours-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Cost*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ edit_form.edit_cost_of_services }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_per_cost }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id='edit-cost_of_services-error' class='help flash-container'></div>
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input class="checkbox-input" id="edit-pay-interest" type="checkbox" name="interest">
                                        Voluntary
                                    </label>
                                </div>

                                <div class="field">
                                    <label class="label">Location*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_location }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                    </div>
                                    <div id='edit-location-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Requirements</label>
                                    <div class="control">
                                        {{ edit_form.edit_requirements }}
                                    </div>
                                    <div id='edit-requirements-error' class='help flash-container'></div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="job-edit-submit">Save changes</button>
                <button class="button" id="job-edit-cancel">Cancel</button>
            </footer>
        </div>
    </div>
<div class="columns">
    <div class="column is-two-thirds max-height-box">
        <div class="box">
            <div class="content">
                <h1><strong> {{ job.name }} </strong></h1>
                <hr>
                <p>{{ job.description }}</p>
            </div>
        </div>
        {% if job.requirements %}
            <div class="box">
                <div class="content">
                    <h3><strong>Requirements</strong></h3>
                    <hr>
                    <p>{{ job.requirements }}</p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="column is-one-third max-height-box">
        <div class="box">
            <div class="content">
                <h4>Poster</h4>
            </div>
            <hr>
            <article class="media">
                <div class="media-left">
                    <figure class="profile-picture image is-64x64">
                        <img src="/{{job.profile.profile_picture}}?timestamp={{current_timestamp}}">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <strong class="title is-5">
                            {{job.user.first_name}} {{job.user.last_name}}
                            {% if job.user.is_superuser %}
                                <span title="Admin" class="icon is-small"><i class="fa fa-gear fa-spin"></i></span>
                            {% endif %}
                        </strong>
                        <br>
                        <span class="icon is-small"><i class="fa fa-clock-o"></i></span>
                        <small>{{job.publish_date}}</small>
                        <br>
                        <span class="icon is-small"><i class="fa fa-user"></i></span>
                        <a href="/profile/{{job.user.username}}"><small>{{job.user.username}}</small></a>
                        <br>
                        {% if job.user.email != "" %}
                            <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                            {%if job.profile.hide_email_for_strangers == True and job.user != request.user  %}
                                <small>Hidden</small>
                            {%else%}
                                <small>{{job.user.email}}</small>
                            {%endif%}
                        {% endif %}
                        <br>
                        {% if job.profile.average_employer_rating %}
                            <a href="/profile/{{job.user.username}}/reviews">
                        {% endif %}
                        <span class="icon is-small"><i class="fa fa-star"></i></span>
                        {% if job.profile.average_employer_rating %}
                                <small>
                                    {{job.profile.average_employer_rating}}
                                </small>
                            </a>
                        {% else %}
                            <small>Unrated</small>
                        {% endif %}

                    </div>
                </div>
            </article>
        </div>
        <div class="box">
            <div class="content">
                <h4>Details</h4>
            </div>
            <hr>
            <div class="content">
                <a href="/jobs?category={{job.category.id}}">
                    <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                    <small>{{job.category.name}}</small>
                </a>
                <br>
                <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                {% if job.start_date != job.end_date %}
                    <small>{{job.start_date}} - {{job.end_date}}</small>
                {% else %}
                    <small>{{job.start_date}}</small>
                {% endif %}
                <br>
                <span class="icon is-small"><i class="fa fa-hourglass-half"></i></span>
                <small>{{ job.number_of_hours }}h per {{job.get_per_time_display}}</small>
                <br>
                <span class="icon is-small"><i class="fa fa-dollar"></i></span>
                {% if job.cost_of_services > 0 %}
                    <small>{{ job.cost_of_services }} RON per {{job.get_per_cost_display}}</small>
                {% else %}
                    <small>Voluntary</small>
                {% endif %}
            </div>
        </div>
        {% if request.user.id is job.user.id %}
            <div class="box" id="navigator">
                <div class="content">
                    <h4>Options</h4>
                </div>
                <hr>
                <div class="content">
                    <a class="button" onclick='javascript: openEditForm(
                                                "{{ job.id }}",
                                                "{{ job.name }}",
                                                "{{ job.description }}",
                                                "{{ job.category.id }}",
                                                "{{ job.start_date | date:"d/m/Y" }}",
                                                "{{ job.end_date | date:"d/m/Y" }}",
                                                "{{ job.number_of_hours }}",
                                                "{{ job.per_time }}",
                                                "{{ job.cost_of_services }}",
                                                "{{ job.per_cost }}",
                                                "{{ job.location.id }}",
                                                "{{ job.requirements }}"
                                                );' class="level-item">
                                                Edit
                    </a>
                    <a class="button is-danger is-outlined" href="/job/{{job.id}}/delete" class="level-item">
                        Delete
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if user.is_authenticated %}
    {% if reviewable %}
        <div class="box">
            <div class="content">
                <h5><strong>
                        Review
                        {% if user.id is job.user.id %}
                            your selected applicant, <a href="/profile/{{job.user_chosen.user.username}}">{{ job.user_chosen.user.first_name }} {{ job.user_chosen.user.last_name}}</a>
                        {% else %}
                            your employer, <a href="/profile/{{ job.user.username }}">{{ job.user.first_name }} {{ job.user.last_name}} </a>
                        {% endif %}
                    </strong>
                </h5>
            </div>
            <hr>
            <form id="reviewForm" action="/job/{{job.id}}/review" method="POST" class="field">
                {% csrf_token %}
                <input name="job_id" type="hidden" value="{{job.id}}" class="inputfield">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Rating*
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="control has-icons-left">
                            <span class="select">
                                {{ review_form.stars }}
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Description*</label>
                    </div>
                    <div class="field-body">
                        <div class="control">
                            {{ review_form.comment }}
                        </div>
                    </div>
                </div>
            </form>
            <div id="review-error" class='flash-container'></div>
            <button class="button" id="sendReview">Rate</button>
        </div>
    {% endif %}

    <div class="box">
        <div class="content">
            <h4>Applicants</h4>
        </div>
        <hr>
        {% if applicants_no and job.user.id is user.id %}
            <div class="columns">
                {% for applicants_list in applicants %}
                    <div class="column is-one-fourth">
                        {% for s in applicants_list %}
                            <div class="card seeker-card applicant-card" {% if job.user_chosen.id == s.user.id %}
                                            id="user-selected"
                                        {% endif %}>
                                <div class="card-image">
                                    <figure class="profile-picture image is-128x128">
                                        <img src="/{{s.profile_picture}}?timestamp={{current_timestamp}}">
                                    </figure>
                                </div>
                                <div class="card-content-title card-content">
                                    <strong class="title is-5">
                                        {{s.user.first_name}} {{s.user.last_name}}
                                        {% if s.user.is_superuser %}
                                            <span title="Admin" class="icon is-small"><i class="fa fa-gear fa-spin"></i></span>
                                        {% endif %}
                                    </strong>
                                    <br>
                                    <a href="/profile/{{s.user.username}}" class="is-6">@{{s.user.username}}</a>
                                </div>
                                <div class="card-content-box card-content user-details">
                                    {% if s.user.email != "" %}
                                        <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                                        {%if s.hide_email_for_strangers == True and s.user != request.user  %}
                                            <small>Hidden</small>
                                        {%else%}
                                            <small>{{s.user.email}}</small>
                                        {%endif%}
                                    {% endif %}
                                    <br>
                                    {% if s.average_applicant_rating %}
                                        <a href="/profile/{{s.user.username}}/reviews">
                                            <span class="icon is-small"><i class="fa fa-star"></i></span>
                                            <small>
                                                {{s.average_applicant_rating}}
                                            </small>
                                        </a>
                                        <br>
                                    {% endif %}
                                    {% if job.user_chosen.id == s.user.id %}
                                        <hr>
                                        <div class="content select-form">
                                            <form action="/job/{{job.id}}/deselect" method="POST" class="select-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="user" value="{{ s.user.id}}">
                                                <input type="submit" class="button" value="Deselect">
                                            </form>
                                        </div>
                                    {% else %}
                                        <hr>
                                        <div class="content select-form">
                                            <form action="/job/{{job.id}}/choose" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="user" value="{{ s.user.id}}">
                                                <input type="submit" class="button" value="Select" {% if job.user_chosen %} disabled {% endif %}>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {{ paged }}
        {% else %}
            <div class="content">
                {% if request.user.profile in job.applicants.all %}
                    {% if job.applicants.all|length == 0 %}
                        <p>This job looks fresh!</p>
                    {% elif job.applicants.all|length == 1 %}
                        <p>You applied for this job.</p>
                    {% elif job.applicants.all|length == 2 %}
                        <p>You and one other user applied for this job</p>
                    {% else %}
                        <p>You and {{ job.applicants.all|length|sub:1 }} other users applied for this job</p>
                    {% endif %}
                    {% if job.user_chosen %}
                        {% if job.user_chosen.user == request.user %}
                            <p>You were selected for this job!</p>
                        {% else %}
                            <p>The user selected another applicant.</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if job.applicants.all|length == 1 %}
                        <p>One person has applied for this job</p>
                    {% elif job.applicants.all|length == 0 %}
                        <p>This job looks fresh!</p>
                    {% else %}
                        <p>This job has {{job.applicants.all|length}} applicants</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="level is-mobile">
                <div class="level-right">
                    {% if request.user.id != job.user.id %}
                        <form  action="/job/{{job.id}}/apply" method="POST" id="formApply">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{request.user.id}}">
                            {% if request.user.profile not in job.applicants.all %}
                            <input type="submit" class="button" value="Apply">
                            {% else %}
                            <input type="submit" class="button" value="Unapply" {% if job.user_chosen.user == request.user %} disabled {% endif %}>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
