<!-- Meta stuff, javascript, css etc -->
<title>Jobs</title>
{%  load mathfilters %}
{% load url_utils %}
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{%load static %}
<script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/jobs.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/jobs.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/table.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}"/>

<!-- Content goes down here -->
    <div class="modal" id="job-add">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Share a job</p>
                <button class="delete" id="job-add-x" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class = "form_container">
                    <div class = "form">
                        <div class = "form_content">
                            <form id='add_form'>
                                {% csrf_token %}
                                <div class="field">
                                    <label class="label">Title*</label>
                                    <div class="control">
                                        {{ add_form.title }}
                                    </div>
                                    <div id="add-title-error" class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Description*</label>
                                    <div class="control">
                                        {{ add_form.description }}
                                    </div>
                                    <div id='add-description-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Category*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ add_form.category }}
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-briefcase"></i>
                                        </span>
                                    </div>
                                    <div id='add-category-error' class='help flash-container'></div>
                                </div>


                                <div class="field">
                                    <label class="label">Start date*</label>
                                    <div class="control">
                                        {{ add_form.start_date }}
                                    </div>
                                    <div id="add-start-error" class='help flash-container'></div>
                                </div>

                                 <div class="field">
                                    <label class="label">End date*</label>
                                    <div class="control">
                                        {{ add_form.end_date }}
                                    </div>
                                    <div id="add-end-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Hours*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ add_form.number_of_hours }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ add_form.per_time }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id="add-number_of_hours-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Cost*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ add_form.cost_of_services }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ add_form.per_cost }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id='add-cost_of_services-error' class='help flash-container'></div>
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input class="checkbox-input" id="pay-interest" type="checkbox" name="interest">
                                        Voluntary
                                    </label>
                                </div>

                                <div class="field">
                                    <label class="label">Location*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ add_form.location }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                    </div>
                                    <div id='add-location-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Requirements</label>
                                    <div class="control">
                                        {{ add_form.requirements }}
                                    </div>
                                    <div id='add-requirements-error' class='help flash-container'></div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="job-add-submit">Share</button>
                <button class="button is-light" id="job-add-cancel">Cancel</button>
            </footer>
        </div>
    </div>
    <div class="modal" id="job-edit">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="job-edit-title">Share a job</p>
                <button class="delete" id="job-edit-x" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class = "form_container">
                    <div class = "form">
                        <div class = "form_content">
                            <form id='edit_form'>
                                {% csrf_token %}
                                <input type="hidden" id="job-edit-id" value="">
                                <div class="field">
                                    <label class="label">Title*</label>
                                    <div class="control">
                                        {{ edit_form.edit_title }}
                                    </div>
                                    <div id="edit-title-error" class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Description*</label>
                                    <div class="control">
                                        {{ edit_form.edit_description }}
                                    </div>
                                    <div id='edit-description-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Category*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_category }}
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-briefcase"></i>
                                        </span>
                                    </div>
                                    <div id='edit-category-error' class='help flash-container'></div>
                                </div>


                                <div class="field">
                                    <label class="label">Start date*</label>
                                    <div class="control">
                                        {{ edit_form.edit_start_date }}
                                    </div>
                                    <div id="edit-start-error" class='help flash-container'></div>
                                </div>

                                 <div class="field">
                                    <label class="label">End date*</label>
                                    <div class="control">
                                        {{ edit_form.edit_end_date }}
                                    </div>
                                    <div id="edit-end-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Hours*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ edit_form.edit_number_of_hours }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_per_time }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id="edit-number_of_hours-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Cost*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ edit_form.edit_cost_of_services }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_per_cost }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id='edit-cost_of_services-error' class='help flash-container'></div>
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input class="checkbox-input" id="edit-pay-interest" type="checkbox" name="interest">
                                        Voluntary
                                    </label>
                                </div>

                                <div class="field">
                                    <label class="label">Location*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_location }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                    </div>
                                    <div id='edit-location-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Requirements</label>
                                    <div class="control">
                                        {{ edit_form.edit_requirements }}
                                    </div>
                                    <div id='edit-requirements-error' class='help flash-container'></div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="job-edit-submit">Save changes</button>
                <button class="button" id="job-edit-cancel">Cancel</button>
            </footer>
        </div>
    </div>
    <div class="columns">
        <div class="column is-5">
            <form method="get" action="/jobs" id="searchForm" class="field">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Sort
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="control has-icons-left">
                            <span class="select" id="order_search">
                                {{ order_form.order }}
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa fa-sort"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            By
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="control has-icons-left">
                            <span class="select" id="criteria_search">
                                {{ criteria_form.criteria }}
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Location
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="control has-icons-left">
                            <span class="select" id="location_search">
                                {{ location_form.filter_location }}
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa fa-map-marker"></i>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Category
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="control has-icons-left">
                            <span id="category_search" class="select">
                                {{ category_form.filter_category }}
                            </span>
                            <span class="icon icon is-small is-left">
                                <i class="fa fa-briefcase"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Filter by hours
                        </label>
                    </div>
                    <div class="field-body" id="searchHours">
                        <input class="checkbox" type="checkbox" name="searchByHours" id="searchByHours"/>
                    </div>
                </div>
                <div class="field" id="searchByHoursForm">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>
                                Min.
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="control">
                                {{searchByHoursForm.filter_min_hours}}
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>
                                Max.
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="control">
                                {{searchByHoursForm.filter_max_hours}}
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>
                                Per
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="control has-icons has-icons-left">
                                <span class="select">
                                    {{searchByHoursForm.filter_per_time}}
                                </span>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Filter by interval
                        </label>
                    </div>
                    <div class="field-body" id="searchInterval">
                        <input class="checkbox" type="checkbox" name="searchByInterval" id="searchByInterval"/>
                    </div>
                </div>

                <div class="field" id="searchByIntervalForm">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>Start</label>
                        </div>
                        <div class="field-body">
                            <div class="control has-icons has-icons-left">
                                {{searchByIntervalForm.filter_start_date}}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>End</label>
                        </div>
                        <div class="field-body">
                            <div class="control has-icons has-icons-left">
                                {{searchByIntervalForm.filter_end_date}}
                                <span class="icon is-small is-left">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            Filter by cost
                        </label>
                    </div>
                    <div class="field-body" id="searchCost">
                        <input class="checkbox" type="checkbox" name="searchByCost" id="searchByCost"/>
                    </div>
                </div>

                <div class="field" id="searchByCostForm">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            Min.
                        </div>
                        <div class="field-body">
                            <div class="control">
                                {{searchByCostForm.filter_min_cost}}
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            Max.
                        </div>
                        <div class="field-body">
                            <div class="control">
                                {{searchByCostForm.filter_max_cost}}
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>
                                Per
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="control has-icons has-icons-left">
                                <span class="select">
                                    {{searchByCostForm.filter_per_cost}}
                                </span>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-dollar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label>
                                Voluntary
                            </label>
                        </div>
                        <div class="field-body">
                            {{searchByCostForm.filter_voluntary}}
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="jobs-button" id="category_search_button"><br>
            </form>
        </div>


        <div class="column">
            {% if user.is_authenticated %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% if profile %}
                                    <img src="{{profile.profile_picture}}?timestamp={{current_timestamp}}">
                                {% else %}
                                    <img src="/static/profile_pictures/no-profile.jpg">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <div class="field">
                                    <input type="text" id="job-add-dummy" class="input" name="title" placeholder="What job would you like to share today, {{user.first_name}}?">
                                    <input type="submit" class="button is-small" id="job-add-button" value="Share">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% for j in jobs %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% if j.profile %}
                                    <img  src="{{j.profile.profile_picture}}?timestamp={{current_timestamp}}">
                                {% else %}
                                    <img src="/static/profile_pictures/no-profile.jpg">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{j.user.first_name}} {{j.user.last_name}}</strong>
                                    <small><a href="/profile/{{j.user.username}}">@{{j.user.username}}</a></small>
                                    <small>{{j.publish_date}}</small>
                                    <span class="icon is-small"><i class="fa fa-map-marker"></i></span>
                                    <small><a href="/jobs?location={{j.location.id}}">{{j.location.name}}</a></small>
                                    <br>
                                    <a href="/job/{{j.id}}"><b>{{j.name}}</b></a>
                                    <br>
                                    <small>{{j.description}}</small>
                                    <br>
                                    <br>
                                    <a href="/jobs?category={{j.category.id}}">
                                        <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                                        <small>{{j.category.name}}</small>
                                    </a>
                                    <br>
                                    <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                                    {% if j.start_date != j.end_date %}
                                        <small>{{j.start_date}} - {{j.end_date}}</small>
                                    {% else %}
                                        <small>{{j.start_date}}</small>
                                    {% endif %}
                                    <br>
                                    <span class="icon is-small"><i class="fa fa-hourglass-half"></i></span>
                                    <small>{{ j.number_of_hours }}h per {{j.get_per_time_display}}</small>
                                    {% if j.cost_of_services > 0 %}
                                        <br>
                                        <span class="icon is-small"><i class="fa fa-dollar"></i></span>
                                    <small>{{ j.cost_of_services }} RON per {{j.get_per_cost_display}}</small>
                                    {% endif %}
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    {% if user.id is j.user.id %}
                                        <a onclick='javascript: openEditForm(
                                            "{{ j.id }}",
                                            "{{ j.name }}",
                                            "{{ j.description }}",
                                            "{{ j.category.id }}",
                                            "{{ j.start_date | date:"d/m/Y" }}",
                                            "{{ j.end_date | date:"d/m/Y" }}",
                                            "{{ j.number_of_hours }}",
                                            "{{ j.per_time }}",
                                            "{{ j.cost_of_services }}",
                                            "{{ j.per_cost }}",
                                            "{{ j.location.id }}",
                                            "{{ j.requirements }}"
                                        );' class="level-item">
                                            <span class="icon is-small"><i class="fa fa-edit"></i></span>
                                        </a>
                                        <a href="/job/{{j.id}}/delete" class="level-item">
                                            <span class="icon is-small"><i class="fa fa-trash"></i></span>
                                        </a>
                                    {% else %}

                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            {% endfor %}
            {{ paged }}
        </div>

    </div>