{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/menu.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/flash-service.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/account.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/menu.js' %}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'script/flash-service.js' %}"></script>
{% if request.user.is_authenticated %}
    {%load static %}
    <script type="text/javascript" src="{% static 'script/notifications.js' %}"></script>
{% endif %}

<!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poiret+One" rel="stylesheet">-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulma/css/font-awesome.min.css'%}"/>
<div id="navigation-list">
    <nav id="navbar-items" class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img id="logo" src="{% static 'style/img/logo.png' %}" alt="JobMania Logo">
                Job Mania
            </a>
            <button class="button navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item" href="/jobs">
                    <span class="icon is-small"><i class="fa fa-building"></i></span>
                    Jobs
                </a>
                <a class="navbar-item" href="/seekers">
                    <span class="icon is-small"><i class="fa fa-users"></i></span>
                    Users
                </a>
            </div>
            <div class="navbar-end">
                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="/profile/{{request.user.username}}" class="navbar-link">
                            <span class="icon is-small"><i class="fa fa-user-circle"></i></span>
                            {% if request.user.first_name and request.user.last_name %}
                                {{ request.user.first_name }} {{request.user.last_name}}
                            {% else %}
                                {{request.user.username}}
                            {% endif %}
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="/profile/{{request.user.username}}/dashboard">
                                Dashboard
                            </a>
                            <a class="navbar-item" href="/profile/{{request.user.username}}/jobs">
                                My jobs
                            </a>
                            <a class="navbar-item" href="/profile/{{request.user.username}}/reviews">
                                Reviews
                            </a>
                            <a class="navbar-item" href="/profile/{{request.user.username}}/notifications">
                                Notifications
                            </a>
                            <a class="navbar-item" href="/profile/{{request.user.username}}/edit">
                                Edit profile
                            </a>
                            <hr>
                            <a class="navbar-item" href="/logout">
                                Logout
                            </a>

                        </div>
                    </div>
                    <div class="navbar-item has-icons-right">
                        <a href="/profile/{{request.user.username}}/notifications" class="icon is-small is-right">
                            <div id="notification-item" hidden>
                                0
                            </div>
                            <i class="fa fa-bell"></i>
                        </a>
                    </div>

                {% else %}
                    <a id="register-prompt" class="navbar-item">
                        Register
                    </a>
                    <a id="login-prompt" class="navbar-item">
                        Log in
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>

<!-- Login & Register overlay -->
{% if not request.user.is_authenticated %}
    <div id="login-page" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="close-login-prompt">
            &times;
        </a>
        <div class="overlay-content">
            {% load static %}
            <form id='authentication' action='/account/login' method="POST">
                {% csrf_token %}
                <div class="field">
                    <div class="control has-icons-left">
                        {{ login_form.username }}
                        <!--<input class="inputfield input" type="text" placeholder="Username" name="username" id="auth-focus" required>-->
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        {{ login_form.password }}
                    <!--<input class="inputfield input" type="password" placeholder="Password" name="password" required>-->
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div id='auth-error' class='flash-container'></div>
            </form>
            <input class="inputbutton" type="submit" id="auth-button" value="Login">
            <div id='social-auths'>
                <p><strong>Or Login with social media</strong><br>
                <a href="{% url 'social:begin' 'twitter' %}">
                    <img id="imageTwitter" src="{% static 'style/img/twitterlogo.png' %}" width="64" height="64">
                </a>
                <a href="{% url 'social:begin' 'facebook' %}">
                    <img id="imageFb" src="{% static 'style/img/fb-logo.jpg' %}" width="64" height="64">
                </a>
            </div>
        </div>
    </div>
    <div id="register-page" class="overlay">
        <a href="javascript:void(0)" class="closebtn" id="close-register-prompt">&times;</a>
        <div class="overlay-content">
            {% load static %}
            <form id='registration' action='/account/register' method="POST">
                {% csrf_token %}
                <div class="field">
                    <div class="control has-icons-left">
                        {{ register_form.username }}
                        <!--<input class="inputfield input" type="text" placeholder="Username" name="username" id="reg-focus" required>-->
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div id='reg-user-error' class='flash-container'></div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        {{ register_form.email }}
                        <!--<input class="inputfield input" type="text" placeholder="E-mail" name="email" required>-->
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                        </span>
                    </div>
                </div>
                <div id='reg-email-error' class='flash-container'></div>
                <div class="field">
                    <div class="control has-icons-left">
                        {{ register_form.password }}
                        <!--<input class="inputfield input" type="password" placeholder="Password" name="password" required>-->
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div id='reg-pass-error' class='flash-container'></div>
                <div class="field">
                    <div class="control has-icons-left">
                        {{ register_form.confirm_password }}
                        <!--<input class="inputfield input" type="password" placeholder="Confirm password" name="confirm-password" required>-->
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div id='reg-confirm-error' class='flash-container'></div>

                <div class="field">
                    <div class="control has-icons-left">
                        {{ register_form.first_name }}
                        <!--<input class="inputfield input" type="password" placeholder="Confirm password" name="confirm-password" required>-->
                    </div>
                </div>
                <div id='reg-first_name-error' class='flash-container'></div>

                <div class="field">
                    <div class="control has-icons-left">
                        {{ register_form.last_name }}
                        <!--<input class="inputfield input" type="password" placeholder="Confirm password" name="confirm-password" required>-->
                    </div>
                </div>
                <div id='reg-last_name-error' class='flash-container'></div>

                <div class="field">
                    <div class="control has-icons-left">
                        <span class="select">
                            {{ register_form.location }}
                        </span>
                        <!--<input class="inputfield input" type="password" placeholder="Confirm password" name="confirm-password" required>-->
                        <span class="icon is-small is-left">
                            <i class="fa fa-map-marker"></i>
                        </span>
                    </div>
                    <div id='reg-location-error' class='flash-container'></div>
                </div>
                <div class="notification is-warning">
                    All fields are mandatory
                </div>
            </form>
            <input class="inputbutton" type="submit" id="reg-button" value="Register">
        </div>
    </div>
{% endif %}

