{%  load mathfilters %}
{% load url_utils %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/paged.css' %}"/>

<!-- Content goes down here -->

    <nav id="paged" class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="?{% url_replace page=prev_page %}" {% if page == 1%} disabled {% endif %}>Previous</a>
    <a class="pagination-next" href="?{% url_replace page=next_page %}" {% if page == max_page %} disabled {% endif %}>Next</a>
    <ul class="pagination-list">
        {% if page > 6 %}
            <li>
                <a class="pagination-link" href="?{% url_replace page=1 %}" aria-label="Goto page 1">1</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
        {% endif %}
        {% for i in page_buttons %}
            {% if page == i %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page {{i}}" aria-current="page">{{i}}</a>
                </li>
            {% else %}
                <li>
                    <a class="pagination-link" href="?{% url_replace page=i %}" aria-label="Goto page {{i}}">{{i}}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page < max_page|sub:6 %}
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" href="?{% url_replace page=max_page %}" aria-label="Goto page {{max_page}}">{{max_page}}</a>
            </li>
        {% endif %}
    </ul>
    </nav>