{%  load mathfilters %}
{% load url_utils %}


{% for r in reviews %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    {% if j.profile %}
                        <img  src="/{{j.profile.profile_picture}}?timestamp={{current_timestamp}}">
                    {% else %}
                        <img src="/static/profile_pictures/no-profile.jpg">
                    {% endif %}
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{r.user_reviewing.first_name}} {{r.user_reviewing.last_name}}</strong>
                        <a href="/profile/{{r.user_reviewing}}">@{{r.user_reviewing.username}}</a>
                        <span class="icon">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                        {% if r.employer_review %}
                            Employer
                        {% else %}
                            Applicant
                        {% endif %}
                        <a href="/profile/{{r.user_reviewing}}">
                            {{r.user_reviewed.first_name}} {{r.user_reviewed.last_name}}
                        </a>
                        <span class="icon is-small">
                            <i class="fa fa-star"></i>
                        </span>
                        <small>{{ r.stars }}</small>
                        <br>
                        <span>
                            <i class="fa fa-calendar"></i>
                        </span>
                        <small>{{ r.timestamp}}</small>
                        <br>
                        <div class="content">
                            <p>{{r.comment}}</p>
                        </div>
                        <div class="box">
                            <div class="content">
                                {% if request.user.id is r.user_reviewed.id or request.user.id is r.user_reviewing.id %}
                                    <strong><a href="/job/{{r.job.id}}"><b>{{ r.job.name }}</b></a></strong>
                                {% else %}
                                    <strong>{{r.job.name}}</strong>
                                {% endif %}
                                <p>{{r.job.description}}</p>
                                <span>
                                    <i class="fa fa-briefcase"></i>
                                    <small><a href="/jobs?category={{r.job.category.id}}">{{ r.job.category.name }}</a></small>
                                </span>
                            </div>
                        </div>


                    </p>
                </div>
            </div>
        </article>
    </div>
{% endfor %}