{% if request.user.is_authenticated %}
    {% load static %}
    <script type="text/javascript" src="{% static 'script/profile_edit.js' %}"></script>
    <input type="hidden" id="username" value="{{profile.user.username}}">
    <div>
        <a style="display:none" id="location_hidden">{{profile.location_id}}</a>
        <h3>Notifications</h3>

        <div class="box">
            <div>
                <a id="is_searching" style="display: none;">{{profile.is_searching}}</a>
                <form id="jobs-general">
                    {% csrf_token %}
                    <label class="checkbox-label">Get notified about jobs</label>
                    <input class="checkbox-input" id="interested-checkbox" type="checkbox" name="interest"> <br>
                    <span class="checkmark"></span>
                </form>
            </div>
            <div id='edit-saved-interested-error' class='is-success flash-container'></div>
            <div>
                <a id="is_offering" style="display: none;">{{profile.is_offering}}</a>
                <form id="aplicants-general">
                    {% csrf_token %}
                    <label class="checkbox-label">Get notified about applicants</label>
                    <input class="checkbox-input" id="aplicants-checkbox" type="checkbox" name="interest"> <br>
                    <span class="checkmark"></span>
                </form>
            </div>
            <div id='edit-saved-applicants-error' class='is-success flash-container'></div>
        </div>

        <h3>Interests</h3>

        <div class="box">
            <div class="columns">
                <div class="column">
                    <h6>Add</h6>
                    <form id="edit_interest_form" action="/account/edit/addinterest" method="POST">
                        {% csrf_token %}

                        <div class="fields">
                            <div class="label">Interest</div>
                            <div class="control has-icons-left">
                                <span class="select">
                                    {{ interest_form.interests }}
                                </span>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-briefcase"></i>
                                </span>
                            </div>

                            <div class="label">Voluntary</div>
                            <div class="control">
                                <input class="checkbox-input" id="pay-interest" type="checkbox" name="interest"> <span class="checkmark"></span>
                            </div>
                        </div>
                        <div id='edit-interests-error' class='flash-container'></div>
                    </form>
                    <input class="button inputbutton" type="submit" value="Add interest" id="edit_interest_button">
                </div>
                <div class="column">
                    <h6>Remove</h6>
                    {% for interest in user_interests %}
                         <form action="/account/edit/deleteinterest" method="POST">
                            {% csrf_token %}
                             <div class="field is-horizontal">
                                 <input class="hidden_input" type="hidden" name="interest" value="{{interest.category.id}}">
                                 <input class="button is-light deletebutton" type="submit" value="&#10008 {{interest.category.name}} {% if interest.pay is False %} (voluntary) {% endif %}" id="delete_interest_button">
                             </div>
                         </form>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h3>Security and personal information</h3>

        <div class="box">
            <form id="edit_form" action="/account/edit" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label class="label">First name</label>
                    <div class="control">
                        {{ form.first_name }}
                    </div>
                    <div id='edit-firstname-error' class='help flash-container'></div>

                    <label class="label">Last name</label>
                    <div class="control">
                        {{ form.last_name }}
                    </div>
                    <div id='edit-lastname-error' class='help flash-container'></div>

                    <label class="label">Email</label>
                    <div class="control">
                        {{ form.email }}
                    </div>
                    <div id='edit-email-error' class='help flash-container'></div>

                    <div class="label">Location</div>
                    <div class="control has-icons-left">
                        <span class="select" id="location_search">
                            {{ interest_form.location }}
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa fa-map-marker"></i>
                        </span>
                    </div>
                    <br>

                    <label class="label">Change password(optional)</label>
                    <div class="control">
                        {{ form.new_password }}
                    </div>
                    <div id='edit-pass-error' class='help flash-container'></div>

                    <label class="label">Confirm change password(optional)</label>
                    <div class="control">
                        {{ form.new_password_confirm }}
                    </div>
                    <div id='edit-pass-confirm-error' class='help flash-container'></div>

                    <label class="label">Confirm password* (leave blank if not yet set)</label>
                    <div class="control">
                        {{ form.old_password }}
                    </div>
                    <div id='edit-confirm-error' class='help flash-container'></div>
                </div>
            </form>
            <button class="button inputbutton" id="edit_button">Save changes</button>
        </div>

        <h3>Profile picture</h3>

        <div class="box">
            <form action="/upload_pic" method="POST" enctype="multipart/form-data" class="profile-picture-form">
                {% csrf_token %}
                <article class="media">
                    <div class="media-left">
                        <figure class="profile-picture image is-128x128">
                            <img src="/{{profile.profile_picture}}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <div class="file">
                                <label class="file-label">
                                    <input id="image-input" class="file-input" type="file" name="image">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                </label>
                                <label class="label" id="file-selected">
                                </label>
                            </div>
                            <br>
                            <div class="control">
                                <input class="button" type="submit" id="upload-picture" value="Submit"/>
                            </div>
                        </div>
                    </div>
                </article>
            </form>
        </div>


    </div>
{% endif %}