{% if profile.user.id is request.user.id %}
{% for notification in notifications %}
 <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    {% if notification.job.profile %}
                        <img  src="/{{notification.job.profile.profile_picture}}?timestamp={{current_timestamp}}">
                    {% else %}
                        <img src="/static/profile_pictures/no-profile.jpg">
                    {% endif %}
                </figure>
            </div>
            <div class="media-content">
                <div class="content has-icons-right">
                    <div class="notification notification-data{% if notification.is_read is False %} is-primary{% endif %}">
                        <strong><a class="noStyleLink" href="/handle_notification/{{notification.id}}"> {{notification.job.name}} </a></strong>
                        {% if notification.is_read %}
                            <span class="seen-status">
                                <i class="fa fa-eye"></i>
                            </span>
                        {% else %}
                            <span class="seen-status seen-checkbox">
                                <input type="hidden" class="notification-id" value="{{notification.id}}">
                                <span class="icon is-right">
                                    <i class="fa fa-eye-slash"></i>
                                </span>
                            </span>
                        {% endif %}
                        <br>
                        <small> {{notification.notification_text}}</small>
                    </div>
                </div>
            </div>
        </article>
 </div>{% endfor %}
{% endif %}