<!-- Meta stuff, javascript, css etc -->

<title>Profile</title>

{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/profile.css' %}"/>
{% load static %}
<script type="text/javascript" src="{% static 'script/profile.js' %}"></script>

<div class="columns">
    <div class="column is-one-third">
        <div class="card seeker-card">
            <div class="card-image">
                <figure class="profile-picture image is-128x128">
                    <img src="/{{profile.profile_picture}}?timestamp={{current_timestamp}}">
                </figure>
            </div>
            <div class="card-content-title card-content">
                <strong class="title is-5">
                    {{user.first_name}} {{user.last_name}}
                    {% if user.is_superuser %}
                        <span title="Admin" class="icon is-small"><i class="fa fa-gear fa-spin"></i></span>
                    {% endif %}
                </strong>
                <br>
                <p class="is-6">@{{user.username}}</p>
            </div>
            <div class="card-content-box card-content" id="media-data">
                {% if profile.user.email != "" %}
                    <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                    {%if s.hide_email_for_strangers == True and s.user != request.user  %}
                        <small>Hidden</small>
                    {%else%}
                        <small>{{profile.user.email}}</small>
                    {%endif%}
                {% endif %}
                <br>
                {% if profile.average_applicant_rating %}
                    <a href="/profile/{{user.username}}/reviews">
                        <span class="icon is-small"><i class="fa fa-star"></i></span>
                        <span class="icon is-small"><i class="fa fa-user-o"></i></span>
                        <small>
                            {{profile.average_applicant_rating}}
                        </small>
                    </a>
                <br>
                {% endif %}
                {% if profile.average_employer_rating %}
                    <a href="/profile/{{user.username}}/reviews">
                        <span class="icon is-small"><i class="fa fa-star"></i></span>
                        <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                        <small>
                            {{profile.average_employer_rating}}
                        </small>
                    </a>
                <br>
                {% endif %}
                {% if profile.interests.count > 0 %}
                    {% for interest in s.interests.all %}
                        <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                        <small>
                            {{ interest.name }}
                        </small>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column is-two-thirds">
        <div class="tabs is-centered is-boxed">
            <ul>
                {% if profile.user == request.user %}
                    <li {% if p_interests %} class="is-active" {% endif %}>
                        <a href="/profile/{{user.username}}/dashboard">
                            <span class="icon is-small"><i class="fa fa-dashboard"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                {% endif %}
                <li {% if p_jobs %} class="is-active" {% endif %}>
                    <a href="/profile/{{user.username}}/jobs">
                        <span class="icon is-small"><i class="fa fa-building"></i></span>
                        <span>Jobs posted</span>
                    </a>
                </li>
                <li {% if p_reviews %} class="is-active" {% endif %}>
                    <a href="/profile/{{user.username}}/reviews">
                        <span class="icon is-small"><i class="fa fa-star"></i></span>
                        <span>Reviews</span>
                    </a>
                </li>
                {% if profile.user == request.user %}
                    <li {% if p_notifications %} class="is-active" {% endif %}>
                        <a href="/profile/{{user.username}}/notifications">
                            <span class="icon is-small"><i class="fa fa-bell"></i></span>
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li {% if p_edit %} class="is-active" {% endif %}>
                        <a href="/profile/{{user.username}}/edit">
                            <span class="icon is-small"><i class="fa fa-edit"></i></span>
                            <span>Edit profile</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            {{ rendered_subpage }}
        </div>
    </div>

</div>

<!-- Content goes down here
    <div class = "form_container">
        <div class = "form">
            <div class = "form_content">
                {% if has_picture %}
                    <img id="profile-picture" src={{profile.profile_picture}}?timestamp={{current_timestamp}}>
                {% else %}
                    <img id="profile-picture" src="/static/profile_pictures/no-profile.jpg">
                {% endif %}
                <div id = "left_form_content">
                    {% if user and profile %}
                        {% if interests.count > 0 and jobs.count > 0 %}
                            <table class="offers-interests">
                                <thead>
                                    <tr>
                                        <th> Recent offers </th>
                                        <th> Recent interests </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job, interest in zip %}
                                    <tr>
                                        {% if job %}
                                        <td> <a class="noStyleLink" href="/job/{{job.id}}">{{job.name}}</a> </td>
                                        {% else %}
                                        <td>  </td>
                                        {% endif %}
                                        {%if interest %}
                                        <td> {{interest.category}}</a>  </td>
                                        {% else %}
                                        <td>  </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elif interests.count > 0 %}
                            <table class="offers-interests">
                                <thead>
                                    <tr>
                                        <th> Seeking </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for interest in interests %}
                                    <tr>
                                        <td> {{interest.category}} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elif jobs.count > 0 %}
                            <table class="offers-interests">
                                <thead>
                                    <tr>
                                        <th> Offering </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in jobs %}
                                    <tr>
                                        <td> <a class="noStyleLink" href="/job/{{j.id}}">{{job.name}}</a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <p>
                            <b>First Name:</b> {{ user.first_name }}<br>
                            <b>Last Name:</b> {{ user.last_name }}<br>
                            {% if own_profile or not profile.hide_email_for_strangers %}
                                <b>Email address:</b> {{ user.email }}<br>
                            {% endif %}
                            {% if own_profile %}
                                <input type="button" id="edit_button" value="Edit Profile">
                                <input type="button" id="edit_jobs_button" value="Edit My Jobs">
                            {% endif %}
                        </p>
                        {% if own_profile %}
                            {% if notifications.count > 0 %}
                                <p id="new-notification-label"><b>You have new notifications!</b></p>
                                <table id="notifications">
                                    <thead>
                                        <tr>
                                            <th> Job </th>
                                            <th> Message </th>
                                            <th> Seen </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for notification in notifications %}
                                        <tr>
                                            <td style="width: 10%"> <a class="noStyleLink" href="/handle_notification/{{notification.id}}">{{notification.job.name}}</a></td>
                                            <td style="width: 70%"> {{notification.notification_text}} </td>
                                            {% if notification.is_read %}
                                            <td style="width: 10%">
                                                <input type="checkbox" checked disabled>
                                            </td>
                                            {% else %}
                                            <td style="width: 10%">
                                                <input type="checkbox" class="seen-checkbox" value="{{notification.id}}">
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <p><b>Click <a href="/notifications?page=1">here</a> to view all notifications.</b></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
-->