{% for j in jobs %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    {% if j.profile %}
                        <img  src="/{{j.profile.profile_picture}}?timestamp={{current_timestamp}}">
                    {% else %}
                        <img src="/static/profile_pictures/no-profile.jpg">
                    {% endif %}
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{j.user.first_name}} {{j.user.last_name}}</strong>
                        <small><a href="/profile/{{j.user.username}}">@{{j.user.username}}</a></small>
                        <small>{{j.publish_date}}</small>
                        <span class="icon is-small"><i class="fa fa-map-marker"></i></span>
                        <small>{{j.location.name}}</small>
                        <br>
                        <a href="/job/{{j.id}}"><b>{{j.name}}</b></a>
                        <br>
                        <small>{{j.description}}</small>
                        <br>
                        <br>
                        <a href="/jobs?category={{j.category.id}}">
                            <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                            <small>{{j.category.name}}</small>
                        </a>
                        <br>
                        <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                        {% if j.start_date != j.end_date %}
                            <small>{{j.start_date}} - {{j.end_date}}</small>
                        {% else %}
                            <small>{{j.start_date}}</small>
                        {% endif %}
                        <br>
                        <span class="icon is-small"><i class="fa fa-hourglass-half"></i></span>
                        <small>{{ j.number_of_hours }}h per {{j.get_per_time_display}}</small>
                        {% if j.cost_of_services > 0 %}
                            <br>
                            <span class="icon is-small"><i class="fa fa-dollar"></i></span>
                            <small>{{ j.cost_of_services }} RON per {{j.get_per_cost_display}}</small>
                        {% endif %}
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.id is j.user.id %}
                            <a onclick='javascript: openEditForm(
                                            "{{ j.id }}",
                                            "{{ j.name }}",
                                            "{{ j.description }}",
                                            "{{ j.category.id }}",
                                            "{{ j.start_date | date:"d/m/Y" }}",
                                            "{{ j.end_date | date:"d/m/Y" }}",
                                            "{{ j.number_of_hours }}",
                                            "{{ j.per_time }}",
                                            "{{ j.cost_of_services }}",
                                            "{{ j.per_cost }}",
                                            "{{ j.location.id }}",
                                            "{{ j.requirements }}"
                                        );' class="level-item">
                                            <span class="icon is-small"><i class="fa fa-edit"></i></span>
                            </a>
                            <a href="/job/{{j.id}}/delete" class="level-item">
                                <span class="icon is-small"><i class="fa fa-trash"></i></span>
                            </a>
                        {% else %}

                        {% endif %}
                    </div>
                </nav>
            </div>
        </article>
    </div>
{% endfor %}