{% if request.user.is_authenticated and request.user is user %}
{% load static %}
<script type="text/javascript" src="{% static 'script/profile_jobs_edit.js' %}"></script>
    <div class="modal" id="job-edit">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="job-edit-title">Share a job</p>
                <button class="delete" id="job-edit-x" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class = "form_container">
                    <div class = "form">
                        <div class = "form_content">
                            <form id='edit_form'>
                                {% csrf_token %}
                                <input type="hidden" id="job-edit-id" value="">
                                <div class="field">
                                    <label class="label">Title*</label>
                                    <div class="control">
                                        {{ edit_form.edit_title }}
                                    </div>
                                    <div id="edit-title-error" class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Description*</label>
                                    <div class="control">
                                        {{ edit_form.edit_description }}
                                    </div>
                                    <div id='edit-description-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Category*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_category }}
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-briefcase"></i>
                                        </span>
                                    </div>
                                    <div id='edit-category-error' class='help flash-container'></div>
                                </div>


                                <div class="field">
                                    <label class="label">Start date*</label>
                                    <div class="control">
                                        {{ edit_form.edit_start_date }}
                                    </div>
                                    <div id="edit-start-error" class='help flash-container'></div>
                                </div>

                                 <div class="field">
                                    <label class="label">End date*</label>
                                    <div class="control">
                                        {{ edit_form.edit_end_date }}
                                    </div>
                                    <div id="edit-end-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Hours*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ edit_form.edit_number_of_hours }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_per_time }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id="edit-number_of_hours-error" class='help flash-container'></div>
                                </div>

                                <label class="label">
                                    Cost*
                                </label>
                                <div class="field has-addons has-addons-centered">
                                    <div class="control">
                                        {{ edit_form.edit_cost_of_services }}
                                    </div>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_per_cost }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                    </div>
                                    <br>
                                    <div id='edit-cost_of_services-error' class='help flash-container'></div>
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input class="checkbox-input" id="edit-pay-interest" type="checkbox" name="interest">
                                        Voluntary
                                    </label>
                                </div>

                                <div class="field">
                                    <label class="label">Location*</label>
                                    <div class="control has-icons-left">
                                        <span class="select">
                                            {{ edit_form.edit_location }}
                                        </span>
                                        <span class="icon icon is-small is-left">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                    </div>
                                    <div id='edit-location-error' class='help flash-container'></div>
                                </div>

                                <div class="field">
                                    <label class="label">Requirements</label>
                                    <div class="control">
                                        {{ edit_form.edit_requirements }}
                                    </div>
                                    <div id='edit-requirements-error' class='help flash-container'></div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="job-edit-submit">Save changes</button>
                <button class="button" id="job-edit-cancel">Cancel</button>
            </footer>
        </div>
    </div>
{% endif %}
{% for j in jobs %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    {% if j.profile %}
                        <img  src="/{{j.profile.profile_picture}}?timestamp={{current_timestamp}}">
                    {% else %}
                        <img src="/static/profile_pictures/no-profile.jpg">
                    {% endif %}
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{j.user.first_name}} {{j.user.last_name}}</strong>
                        <small><a href="/profile/{{j.user.username}}">@{{j.user.username}}</a></small>
                        <small>{{j.publish_date}}</small>
                        <span class="icon is-small"><i class="fa fa-map-marker"></i></span>
                        <small><a href="/jobs?location={{j.location.id}}">{{j.location.name}}</a></small>
                        <br>
                        {% if j.is_available is True %}
                        <a href="/job/{{j.id}}"><b>{{j.name}}</b></a>
                        {% elif request.user.id is j.user.id %}
                        <a href="/job/{{j.id}}"><b>{{j.name}}</b></a>
                        {% elif request.user.profile in j.applicants.all %}
                        <a href="/job/{{j.id}}"><b>{{j.name}}</b></a>
                        {% else %}
                        <span class="icon is-small">
                            <i class="fa fa-lock"></i>
                        </span>
                        <b>{{j.name}}</b>
                        {% endif %}
                        <br>
                        <small>{{j.description}}</small>
                        <br>
                        <br>
                        <a href="/jobs?category={{j.category.id}}">
                            <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                            <small>{{j.category.name}}</small>
                        </a>
                        <br>
                        <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                        {% if j.start_date != j.end_date %}
                            <small>{{j.start_date}} - {{j.end_date}}</small>
                        {% else %}
                            <small>{{j.start_date}}</small>
                        {% endif %}
                        <br>
                        <span class="icon is-small"><i class="fa fa-hourglass-half"></i></span>
                        <small>{{ j.number_of_hours }}h per {{j.get_per_time_display}}</small>
                        {% if j.cost_of_services > 0 %}
                            <br>
                            <span class="icon is-small"><i class="fa fa-dollar"></i></span>
                            <small>{{ j.cost_of_services }} RON per {{j.get_per_cost_display}}</small>
                        {% endif %}
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.id is j.user.id %}
                            <a onclick='javascript: openEditForm(
                                            "{{ j.id }}",
                                            "{{ j.name }}",
                                            "{{ j.description }}",
                                            "{{ j.category.id }}",
                                            "{{ j.start_date | date:"d/m/Y" }}",
                                            "{{ j.end_date | date:"d/m/Y" }}",
                                            "{{ j.number_of_hours }}",
                                            "{{ j.per_time }}",
                                            "{{ j.cost_of_services }}",
                                            "{{ j.per_cost }}",
                                            "{{ j.location.id }}",
                                            "{{ j.requirements }}"
                                        );' class="level-item">
                                            <span class="icon is-small"><i class="fa fa-edit"></i></span>
                            </a>
                            <a href="/job/{{j.id}}/delete" class="level-item">
                                <span class="icon is-small"><i class="fa fa-trash"></i></span>
                            </a>
                        {% else %}

                        {% endif %}
                    </div>
                </nav>
            </div>
        </article>
    </div>
{% endfor %}