<!-- Meta stuff, javascript, css etc -->
{%  load mathfilters %}
{% load url_utils %}

<title>People to hire</title>
{%load static %}
<script type="text/javascript" src="{% static 'script/jquery-3.2.1.min.js' %}"></script>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/seekers.css' %}"/>
<!-- Content goes down here -->
    <div class="columns">
        {% for seekers_list in seekers %}
            <div class="column is-one-fourth">
                {% for s in seekers_list %}
                    <div class="card seeker-card">
                        <div class="card-image">
                            <figure class="profile-picture image is-128x128">
                                <img src="{{s.profile_picture}}?timestamp={{current_timestamp}}">
                            </figure>
                        </div>
                        <div class="card-content-title card-content">
                            <strong class="title is-5">
                                {{s.user.first_name}} {{s.user.last_name}}
                                {% if s.user.is_superuser %}
                                    <span title="Admin" class="icon is-small"><i class="fa fa-gear fa-spin"></i></span>
                                {% endif %}
                            </strong>
                            <br>
                            <a href="/profile/{{s.user.username}}" class="is-6">@{{s.user.username}}</a>
                        </div>
                        <div class="card-content-box card-content">
                            {% if s.user.email != "" %}
                                <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                                {%if s.hide_email_for_strangers == True and s.user != request.user  %}
                                    <small>Hidden</small>
                                {%else%}
                                    <small>{{s.user.email}}</small>
                                {%endif%}
                            {% endif %}
                            <br>
                            {% if s.average_applicant_rating %}
                                <a href="/profile/{{s.user.username}}/reviews">
                                    <span class="icon is-small"><i class="fa fa-star"></i></span>
                                    <small>
                                     {{s.average_applicant_rating}}
                                    </small>
                                </a>
                                <br>
                            {% endif %}
                            {% if s.interests.count > 0 %}
                                {% for interest in s.interests.all %}
                                    <span class="icon is-small"><i class="fa fa-briefcase"></i></span>
                                    <small>
                                         {{ interest.name }}
                                    </small>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {{ paged }}
