<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'bulma/css/style.css' %}"/>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'style/template.css' %}"/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulma/css/font-awesome.min.css'%}"/>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {{  menu }}
    <div id = "content-wrapper">
        {{ content }}
    </div>
    <div id = "notification-bar" hidden>
        <div class="notification">
            <button class="delete"></button>
            <div id='notification-context'>Placeholder notification text.</div>
        </div>
    </div>
</body>
</html>